@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat&family=Overpass&family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  font-weight: 500px;
  position: relative;
  padding-bottom: 7px;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background: linear-gradient(45deg, #F26629, #A72295);
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.details {
  display: block;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding: 0 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #A72295;
}

.input-box.full-width {
  width: 100%;
}

button {
  height: 30px;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 1px;
  background: #434f57;
}

button:hover {
  transform: scale(0.99);
  background: linear-gradient(-45deg, #F26629, #A72295);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
