/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #F26629, #A72295);
}
